
Library/
Library
Temp/
.vs/Project-Fox/v16/.suo
.vs/Project-Fox/v15/Server/sqlite3/storage.ide-wal
.vs/Project-Fox/v15/Server/sqlite3/storage.ide-shm
.vs/Project-Fox/v15/Server/sqlite3/storage.ide
.vs/Project-Fox/v15/Server/sqlite3/db.lock
.vs/Project-Fox/v15/.suo
obj/Debug/Assembly-CSharp.pdb
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp-Editor.pdb
obj/Debug/Assembly-CSharp-Editor.dll
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
